#page2{
    height:100vh;
    width:100%;
    background-color: #fff;
    padding: 8vw 0;
    position: relative;
}


#moving-text{
    white-space: nowrap; 
    display: inline-block;
}

#moving-text::-webkit-scrollbar{
    display: none;

}

.con{
    white-space: nowrap;
    display: inline-block;
    animation-name:move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#moving-text h1{
    font-size: 9vw;
    display: inline-block;

}

#gola{
    height:70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: red;
    margin: 1vw 2vw;
}


@keyframes move {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
    
}



#page2-bottom{
    height:60vh;
    width:100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:4.5vw;
    position: relative;
    z-index: 9;
}

#page2-bottom h1{
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#bottom-part2{
    width: 20%;
}

#bottom-part2 img{
    width:100%;
    border-radius: 15px;

}

#bottom-part2 p{
    margin-top: 2vw;
    font-weight: 100;
}

#page2 #gooey{
    height:32vw;
    width: 302w;
    position: absolute;
    border-radius: 50%;
    background:linear-gradient(to top,#fe3f0a,#fe740a);
    top:58%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#page3{
    height:100%;
    width: 100%;
    background-color: antiquewhite;
}


@keyframes gooey {
    from{
        transform: translate(10%,-10%) skew(0);
    }
    to{
        transform: translate(-10%,10%) skew(-12deg);
    }
    
}



#elem{
    height:150px;
    width:100%;
    background-color: orange;
    position: relative;

}